@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: 'Merriweather Sans', sans-serif;
  box-sizing: border-box;
}

h3 {
  font-size: 24px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: var(--body-bg-color);
  color: var(--text-color);
}


body {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 24px;
  padding: 20px;
}

.card {
  background-color: var(--bg-cards);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
}

.user {
  text-align: center;
}

.user img{
  width: 130px;
  border-radius: 50%;
  border: 3px solid forestgreen;
}

.user p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

.user span {
  font-size: 12px;
}

.information li {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
}

.information li:last-child {
  margin-bottom: 0;
}

.information li i {
  color: var(--text-color);
  margin-right: 20px;
}

.information li a {
  color: var(--text-color);
}

.tecnologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-top: 20px;
  padding-left: 20px;
}

.tecnologies a{
  display: block;
  background-color: var(--bg-techs);
  font-size: .75rem;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  color: black;
  font-weight: 700;
}

main {
  padding-left: 20px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.project {
  min-width: 50%;
  flex: 1;
}

.project-tittle a{
  margin-left: 10px;
}

.fa-code-branch{
  margin-left: 10px;
}

.project-description {
  padding-top: 20px;
  padding-bottom: 20px;
}

.avaliation {
  display: flex;
  justify-content: space-between;
}

.avaliation>span::before {
 content: '';
 display: inline-block;
 width: .875rem;
 height: .875rem;
 background: yellow;
 border-radius: 50%;
 margin-right: 5px;
}

.picture {
  width: 130px;
  margin-right: 10px;
}

.picture img {
  border-radius: 20px;
}

.post {
  display: flex;
}

.post-description {
  margin-top: 15px;
}

.post-title span {
  display: block;
  margin-top: 10px;
  font-size: .875rem;
}

.post-description p{
  margin-top: 25px;
  margin-bottom: 5px;
}

.post-tec-list {
  list-style: none;
  display: flex;
}

.post-tec-list li {
  margin-right: 10px;
}








